/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$main-color: orange;

body {
//  background-color: $main-color!important;
}

section {
  width: 100%;
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  border-bottom: 0.5px solid gray;
  margin-bottom: 2rem;
}

section.intro {
//  background-color: blue;
}

section.population {
//  background-color: green;
}

section.game {
//  background-color: gray;
}

section.repository {
  height: auto;
}
