<section class="intro">
  <div class="row">
    <div class="col-xs-12">
      <h1>Hello Wodomi!</h1>
      <p>Have plans to dominate whole web world with quality code and pretty css? I'm in!<br />
        I have few things in toolbox which can help out in taking world by storm, check them out
        on the page bellow:
      </p>
    </div>
  </div>
</section>
<section class="population">
  <div class="row">
    <div class="col-xs-12">
      <p>In a quest, dominator is always in need for a good information. I can get you almost
        any piece of information via my network of APIs. Lets say that you need information of how
        many people are there in some country born after some date, no problem! Now we know exactly
        how many people out there will be impressed with our work :-)
        P.S. Thank you population.io for infos!
      </p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12">
      {{form}}
    </div>
  </div>
  <div class="row">
    <div class="result">
      {% if population %}
      Total number of people to thrill with our code: <strong> {{ population }}</strong>.
      {% endif %}
    </div>
  </div>
</section>
<section class="game">
  <div class="row">
    <div class="col-xs-12">
      <div class="game-intro-text">
        <p>When we're not conquering world, I'm always in a mood for a game or two.
          Are you in for a tic-tac-toe?
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="game-intro-container">
		    <!-- <div class="button" id="reset-button">Reset Board</div> -->
	    </div>
	    <div class="tic-tac-toe">
		    <div id="square1" class="tile free"></div>
		    <div id="square2" class="tile free"></div>
		    <div id="square3" class="tile free"></div>
		    <div id="square4" class="tile free"></div>
		    <div id="square5" class="tile free"></div>
		    <div id="square6" class="tile free"></div>
		    <div id="square7" class="tile free"></div>
		    <div id="square8" class="tile free"></div>
		    <div id="square9" class="tile free"></div>
	    </div>
    </div>
  </div>
</section>
<section class="repository">
  <div class="row">
    <div class="col-xs-12">
      <div class="repositoty-intro-text">
        <p> If you want to know how module for this page works under the hood,
          you can check it out <a href="https://bitbucket.org/slobaprodanovic/wodomi/src" target="_blank">here.</a>
        </p>
      </div>
    </div>
  </div>
</section>
