.game-intro-container {
  max-width: 400px;
	margin: 2em auto;
	text-align: center;
	line-height: 1.5;
}

span.red {
  color: red;
	font-weight: 700;
}

span.blue {
  color: blue;
	font-weight: 700;
}

span.pink {
  color: pink;
}

#reset-button {
  /*width: 90px;
	height: 15px;
	border-radius: 5px;
	padding: 5px;
	margin: 0 auto;
	cursor: pointer;
	text-align: center;
	background-color: pink;
	font-size: 13px;
	color: #fff;*/
}

.tic-tac-toe {
  width: 315px;
	height: auto;
	margin: 0 auto;
}

.tile {
  height: 100px;
	width: 100px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	vertical-align: top;
	padding: 15px;
	margin-bottom: 5px;
	box-sizing: border-box;
	color: #fff;
	font-size: 60px;
	text-align: center;
}

.free {
  background-color: #999;
}

.O-play {
  background-color: blue;
}

.X-play {
  background-color: red;
}
